<template>
  <a
    class="btn" @click="onClick"
    >
    <slot></slot>
  </a>
</template>

<script>
export default {
  props: [],

  methods: {
    onClick() {
      console.log('onClick default')
    }
  }
}
</script>

<style>

</style>
